body{
    text-align: center;
    background-image: url(imagens/selvin.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-size: 22px;  
    margin: 20%;
}
ul{
    list-style-type:none;
}
.fundo2{
    background: hsla(0, 0%, 9%, 0.705);
}
.barra ul li{
    display: inline;

 padding:20px 20px 20px 20px;
cursor: pointer;
user-select: none;
}
.logo{
width: 20%;
border-radius: 50%;
}